<%- partial('_partial/nav')%>
<div class="row" style="padding-top: 70px">
    <div class="container center-block">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Blog</h3>
                </div>
                <ul class="list-group">
                    <% if (pagination == 2){ %>
                    <% page.posts.each(function(post){ %>
                    <%- partial('article', {post: post, index: true}) %>
                    <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="col-md-2">
        </div>
<div style="display:none">
<script src="http://s4.cnzz.com/stat.php?id=<%= config.site_id %>&web_id=<%= config.site_id %>" language="JavaScript"></script>
</div>
    </div>
</div>
