body {
  font-family: "Palatino Linotype", "Book Antiqua","STFangSong", Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
  font-size: 18px;
  padding: 2% 5% 5% 5%;
  line-height: 150%;
  border: 1px solid LightGrey; 
  margin: 5% 20% 5% 20%;//desktop version
  width: 50%; // desktop version
}

H1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}

H2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-bottom: 60px;
  margin-bottom: 40px;
  padding: 5px;
  border-bottom: 2px LightGrey solid;
  width: 90%;
  line-height: 150%;
  color: #666666;
}


H3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 80%;
  line-height: 150%;
  color: #666666;
}


H4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 80%;
  line-height: 150%;
  color: #666666;
}


li {
  margin-left: 10px;
}


blockquote {
  color:#d3d3d3;
  border-left: 4px lightgrey solid;
  padding-left: 5px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  cursor: crosshair;
  border-bottom: 1px dashed Red;
  padding: 1px;
  color: black;
}


a:hover {
  background-color: LightGrey;
}

img {
  display: block;
  box-shadow: 0 0 10px #555;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #555;
}


hr {
  color: LightGrey;
}

p {
  text-indent: 2em;
}

table {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
}

table td, table th {
  font-size: 14px;
  border:1px solid #8e908c;
  padding:3px 7px 2px 7px;
}

table th {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#8e908c;
  color:#ffffff;
}

table tr.alt td {
  color:#000000;
  background-color:#8e908c;
}
table tr:nth-child(odd){background:#F4F4F4;}
table td:nth-child(even){}


.toc a {
  color:#d3d3d3;
  border-bottom :none;
}
.toc a:hover{
  color:black;
  border-bottom :none;
}

.toc-item {
  color:#d3d3d3;
  border-bottom :none;
}

.toc-item a:hover{
  border-bottom :none;
}

.article-category {
  text-align:center;
}
