body {
  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
  font-size: 18px;
}

a {
  display: block;
}

.title {
  cursor: pointer;
}

li.title:hover {
  background-color: #eee;
}

.panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}
